@model Web.ViewModels.PostViewModel
<div class="row">
    <div class="col-lg-8">
        <h1 class="mt-4">@Model.PostDomainModel.PostStorageModel.Title</h1>
        <p class="lead">
            by
            MaciejCaputa
        </p>
        <hr>
        <p>Opublikowane dnia @Model.PostDomainModel.PostStorageModel.CreatedOn</p>
        <hr>
        <!-- Post Content -->
        @Html.Raw(Model.PostDomainModel.PostStorageModel.Description)
        <div id="disqus_thread"></div>
    </div> 
</div>

<script>

var disqus_config = function () {
    this.page.url = 'https://maciejcaputa.pl/@Model.PostDomainModel.PostStorageModel.FriendlyTitleUrl';
    this.page.identifier = @Model.PostDomainModel.PostStorageModel.Id;
};
    (function() { 
        var d = document, s = d.createElement('script');
        s.src = 'https://https-maciejcaputa-pl.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>


