@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');


$primary-menu-font: 'Roboto Slab', serif;
$primary-brand-font: 'Fira Sans', sans-serif;

$primary-menu-font-size: 145%;
$primary-brand-font-size: 300%;
$primary-brand-slogan-font-size: 110%; 
