$black: #0D1921;
$light-grey: #F3F5F6;
$white: white;
$grey: #ADB5BB;
$dark-blue: #33598C;


.dark-blue {
    color: $dark-blue;
}

.grey{
    color:$grey;
}

.facebook-color {
    color: #3b5998 !important;
}

.linkedin-color {
    color: #0077B5 !important;
}

.instagram-color {
    color: #8a3ab9 !important;
}

.github-color {
    color: #4078c0 !important;
}