
@{
    ViewData["Title"] = "Dlaczego tu tak pusto?";
}

<div class="mx-auto p-4">
    <h3>Cześć! </h3>
    <p class="lead"> Jesteś w miejscu, w którym powstaje blog. 
        Jednak ten blog, nie będzie taki sam jak inne. Tym razem nie postawię go na Wordpressie, a sam go napiszę. 
    </p>
    <p>
        Kiedy rozpoczynałem swoją przygodę z programowaniem, dowiedziałem się, 
        że ten zawód łączy się z ciągłym rozwojem . Tak jest i w tym przypadku, ponieważ, to co tu widzisz,
        powstaje przy wykorzystaniu ASP.NET Core i Angular.
    </p>
    <p>
        Całym procesem tworzenia, chce się z Tobą podzielić. Wszystkie moje porażki, sukcesy, odkrycia i zmiany,
        będziesz mógł zobaczyć i przeczytać <b>każdej niedzieli około godziny 21</b>. Dodatkowo wszystkie materiały, które wykorzystałem przy
        pisaniu bloga, będę Ci udostępniał.
    </p>
    <p>
        Nie mogąc się już doczekać dodawania nowych funkcjonalności, wracam do programowania, a Ciebie zostawiam z pierwszym postem 
        <a asp-controller="TemporaryPost" asp-action="Read" asp-route-postId="4" >Dlaczego piszę bloga od zera?</a>
        
    </p>
</div>


