@using maciejcaputablog.ViewModels
@model maciejcaputablog.ViewModels.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h3>Huh, coś poszło nie tak, a może grzebałeś tam gdzie nie trzeba? :)</h3>
