<nav class="nav d-flex justify-content-between mt-2 navbar-properties">
    
        <a asp-controller="Home" asp-action="Index" class="mr-2 text-dark">
            <i class="fa fa-home"></i>
        </a>
        <a class="text-dark" asp-controller="TemporaryFaq" asp-action="Read">FAQ</a>
    
    <div>
        <a class="text-dark" href="https://www.instagram.com/maciejcaputa/" target="_blank"><i class="fa pr-2  fa-instagram padding"></i></a>
        <a class="text-dark" href="https://www.facebook.com/zprogramowaniemwtle/" target="_blank"><i class="fa pr-2  fa-facebook-square"></i></a>
        <a class="text-dark" href="https://www.linkedin.com/in/caputamaciej/" target="_blank"><i class="fa pr-2  fa-linkedin"></i></a>
    </div>
        <a class="text-dark" href="https://github.com/mcaputa" target="_blank">
            <i class="fa fa-github"></i>
            <text class="text-dark p-2">Repozytorium kodu</text>
        </a>
        <a class="text-dark" asp-controller="Home" asp-action="Contact">
            <text class="text-dark">Kontakt</text>
        </a>
    
</nav>