.navbar-properties {
    font-size: 20px;
}

.img-size {
    height: 50vh;
    margin-bottom: 1rem !important;
}

.temporary-img-properties {
    width: 100% !important;
    margin-bottom: 1rem !important;
}

.temporary-post-list-properties {
    display: flex;
    justify-content: space-between;
}

img{
    max-width: 100%;
    height: auto;
}