@import "../global/_fonts.scss";

.navbar-properties {
    font-size: 20px;
}

.img-size {
    height: 50vh;
    margin-bottom: 1rem !important;
}

.temporary-img-properties {
    width: 100% !important;
    margin-bottom: 1rem !important;
}

.temporary-post-list-properties {
    display: flex;
    justify-content: space-between;
}

img {
    max-width: 100%;
    height: auto;
}


.times {
    font-family: "Times New Roman", serif !important;
    font-weight:bold;
}

.arial {
    font-family: Arial, sans-serif !important;
    font-weight: bold;
}
.helvetica {
    font-family: Helvetica, sans-serif !important;
    font-weight: bold;
}

.piksel {
    @import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
    font-family: 'Press Start 2P', cursive !important;
}

.handwriting {
    @import url('https://fonts.googleapis.com/css?family=Dancing+Script');
    font-family: 'Dancing Script', cursive !important;
    font-size: 20px;
}

.code {
    @import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39');
    font-family: 'Libre Barcode 39', cursive !important;
}

.fira-sansa {
    font-family: $primary-brand-font !important;
}

.roboto-slab {
    font-family: $primary-menu-font  !important;
}

.roboto {
    font-family: $regular-font  !important;
}